*.class

# Package Files #
*.jar
*.war
*.ear
plugins/org.xtext.example.maven.mydsl1.ui/bin/*
plugins/org.xtext.example.maven.mydsl1.ui/target/*
plugins/org.xtext.example.maven.mydsl1.ui/src-gen/*
plugins/org.xtext.example.maven.mydsl1.ui/xtend-gen/*
plugins/org.xtext.example.maven.mydsl1/bin/*
plugins/org.xtext.example.maven.mydsl1/target/*
plugins/org.xtext.example.maven.mydsl1/src-gen/*
plugins/org.xtext.example.maven.mydsl1/xtend-gen/*
plugins/org.xtext.example.maven.mydsl2.ui/bin/*
plugins/org.xtext.example.maven.mydsl2.ui/target/*
plugins/org.xtext.example.maven.mydsl2.ui/src-gen/*
plugins/org.xtext.example.maven.mydsl2.ui/xtend-gen/*
plugins/org.xtext.example.maven.mydsl2/bin/*
plugins/org.xtext.example.maven.mydsl2/target/*
plugins/org.xtext.example.maven.mydsl2/src-gen/*
plugins/org.xtext.example.maven.mydsl2/xtend-gen/*
releng/org.xtext.example.repository/target/*
tests/org.xtext.example.maven.mydsl1.tests/src-gen/*
tests/org.xtext.example.maven.mydsl2.tests/src-gen/*
